h4{
    text-align:center;
    color:rgb(50, 50, 189);
}
h1{
    color:rgb(50, 50, 189);
}
button{
    float:right;
    /* padding-left:15px;
    padding-top:4px; */
}
h5{
    float:left;
    color:rgb(50, 50, 189);
}
/* .icon{
    padding-left:160px;
} */
table{
    padding-left:20px;
    padding-right: 20px;
}
.example-card {
    margin: 10px;
    color:rgb(50, 50, 189);
  }

.title{
     padding-top:20px; 
    padding-left:20px;
    padding-bottom:20px;
}

