<div class="container" fxLayout.xs="column" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
  <h1>
    <i class="fa fa-user-circle-o" style="font-size:50px;"></i>
    Online Certification
    <button mat-raised-button color=warn style="float:right;margin-left:20px;" (click)="register()">Sign Up</button>
    <button mat-raised-button color=primary class="button" style="float:right;" (click)="login()">Log In</button>
  </h1>
</div>

<div class="contain" fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center">
  <mat-card-title class="title" style="font-size:15px;">@2019 Online Certification.
  </mat-card-title>
</div>