<div class="container">

    <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="center">
        <h1>
            <i class="fa fa-user-circle-o" style="font-size:50px;"></i>
            Online Certification
            <mat-menu style="margin-right:20px;">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Welcome {{this.user}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <img width="100" height="100" src="http://localhost:4200/assets/user.jpg" style="padding-left: 36px;">
                    <mat-option (click)="edit()">Change Password</mat-option>
                    <mat-option (click)="delete()">Delete Account</mat-option>
                    <mat-option (click)="logout()">Sign Out</mat-option>
                </mat-expansion-panel>
            </mat-menu>
        </h1>
    </div>

    <div class="image" fxLayout.xs="column" fxLayout="row wrap" fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="center">
        <button (click)="openDialog('NS1101')" style="margin-right:20px;">
            <img src="http://localhost:4200/assets/node.png" width="190" height="190">
        </button>
        <button (click)="openDialog('DB1001')" style="margin-right:20px;">
            <img src="http://localhost:4200/assets/mongo.jpg" width="190" height="190">
        </button>
        <button (click)="openDialog('NG1001')">
            <img src="http://localhost:4200/assets/angular.png" width="190" height="190">
        </button>
    </div>

    <div class="contain" fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center">
        <mat-card-title class="title" style="font-size:15px;padding-bottom: 10px;">@2019 Online Certification.
        </mat-card-title>
    </div>
</div>