/* table {
    width: 100%;
  } */
  
  /* th.mat-sort-header-sorted {
    color: black;
  } */

.mat-form-field {
  font-size: 14px;
  float:right;
  /* width: 100%; */
}
.button{
  padding-right:20px;
  float:right;
}
.img {
  width: 100%;
  margin-bottom: 18%;
}
.container {
  min-height: 100%;
  width: 100%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
/* .example-card {
  margin: 10px;
  color:rgb(50, 50, 189);
} */
.example-card {
  width:100%;
  margin: 10px;
  color:rgb(50, 50, 189);
  left: 0;
   top: 0;
}
.title{
  padding-top:20px; 
 padding-left:20px;
 width:100%;
 margin: 10px;
 color:rgb(50, 50, 189);
 left: 0;
  top: 0;
 /* padding-bottom:20px; */
}
.contain{
  position:fixed;
  width:100%;
  /* left: 0; */
  /* padding-bottom:10px; */
   bottom: 0;
  /* padding-top:100%; */
}
mat-grid-tile {
  background: lightblue;
}
mat-accordion{
  float:right;
}
/* mat-divider{
  float:right;
  width:20%;
} */
.image{
  padding-top:120px;
  padding-left:100px;
}
h1{
  color:rgb(50, 50, 189);
  width:100%;
  padding-left:20px;
  padding-top:10px;
  padding-bottom:10px;
  /* background-color:rgb(188, 245, 245); */
}