<!-- <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center"> -->

<form align=center [formGroup]="signupForm">
  <div formGroupName="userData">
    <table align=center>
      <caption>
        <h2>Account recovery</h2>
      </caption>
      <tr>
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput formControlName="email" [(ngModel)]="email" required>
          <mat-hint>
            <mat-error *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched">Please enter email!</mat-error>
          </mat-hint>
        </mat-form-field>
      </tr>
      <button mat-raised-button (click)="password();" color=primary>Submit</button>
    </table>
  </div>
</form>
<!-- </div> -->